/* ==========================================================================
    페이지 레이아웃
   ========================================================================== */
.page {
  width: calc(100% - 40px);
  max-width: 1280px;
  min-height: 700px;
  margin: 0 auto;
  padding-top: 40px;
}
.page h1 {
  margin: 0;
  font-size: 20px;
  padding-bottom: 40px;
}
/* ==========================================================================
    페이지 정보
   ========================================================================== */

.inputGrid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
}
.inputSection {
  border-bottom: 1px solid #e4e4e4;
}
.inputSection input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #d4d3d3;
  border-radius: 8px;
  outline: none;
  margin-bottom: 40px;
}
.dividedSection input::placeholder,
.inputSection input::placeholder {
  color: #ababab;
}
.inputTitle {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}
.inputTitle span {
  color: #f66a6a;
  margin-left: 4px;
}

.dividedSection {
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: stretch;
  border-bottom: 1px solid #e4e4e4;
}

.dividedSection input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #d4d3d3;
  border-radius: 8px;
  outline: none;
}
.sideSection {
  flex: 0.32;
}
.addressSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.zipCode {
  display: flex;
  gap: 8px;
}
.zipCode input {
  width: 82px;
  padding: 12px 17px;
}
.zipCode button {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 600;
}
.mapSection {
  flex: 0.68;
  display: flex;
  flex-direction: column;
  position: relative;
}
.map,
.mapContainer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #e4e4e4;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  color: #777777;
}
.mapContainer {
  position: absolute;
  height: 312px;
  top: 27px;
}
.latSection {
  margin-bottom: 16px;
}
.lngSection {
  margin-bottom: 40px;
}
.latSection input,
.lngSection input {
  border: 0;
  background-color: #f2f2f2;
}
.imgContainer {
  display: flex;
  gap: 16px;
}
.imgLoading,
.imgPreview > img,
.img {
  display: flex;
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 8px;
  background-color: #f2f2f2;
  color: #777777;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}
.imgPreview {
  position: relative;
}
.deleteBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  background-color: #00000066;
  border-radius: 50%;
  border: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteBtn img {
  background-color: rgba(0, 0, 0, 0);
  width: 16px;
  height: 16px;
}
.img input {
  position: absolute;
}
.img input[type="file"] {
  display: none;
}
.img label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.btnSection {
  display: flex;
  justify-content: end;
}
.btnSection a {
  display: flex;
  gap: 16px;
}
.btnSection button {
  padding: 12px 16px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
}
.btnSection button:nth-child(2) {
  border: 0;
  background-color: #2974e5;
  color: white;
}
.btnSection button:disabled {
  background-color: #c7c7c7;
  color: #e4e4e4;
  border: 0;
}
